h2 {
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    padding: 5px;
    font-family: sans-serif;
}

section img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    align-items: center;
    padding: 15px;
}

div.awardsCard {
    width: 60%;
    right: 30%;
    margin: 25px 19%;
    border: 1px solid rgb(81, 121, 147);
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
}

p {
    font-family: 'Arial'; font-size: 24px;
    padding: 15px;
}

h2 {
    border-bottom: 2px solid var(--grey);
}