:root{
    --grey: #636363;
}

body {
    margin: 0;
    color: var(--grey);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(81, 121, 147);
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
  
nav li a:hover {
    background-color: rgb(107, 151, 178);
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 2%;
}

header img {
    width: 100%;
    height: 400px;
}

header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

h2 {
    font-family: 'Amatic SC'; font-size: 40px;
    color: #636363;
    text-align: center;
    margin: 0 clamp(5%, 10%, 20%);
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding-left: 4%;
    padding-right: 4%;
}

@media (min-width: 1000px) {
    .column h2 {
        padding-left: 2%;
    }
}

section {
    margin: 0 20px 75px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(81, 121, 147);
    color: antiquewhite;
    left: 0;
    bottom: 0;
    display: flex;
}

footer ul {
    position: absolute;
    display: inline-flex;
    align-self: center;
    top: -5px;
    padding-left: 5px;
}
footer li {
    display: block;
    flex: 0 1 auto;
    padding-left: 10px;
    list-style-type: none;
}

footer img {
    width: 30px;
    filter: brightness(0) invert(1);
}

#logo {
    position: absolute;
    right: 10px;
    top: 10px;
}

p {
    font-family: sans-serif;
}